header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
}
#sitename{
    float: left;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px ;
    margin-top: 6px;
    margin-left: 100px;
    text-transform: uppercase;
}
#contact{
    float: right;
    padding: 10px 20px;
    border-radius: 25px ;
    margin-top: 6px;
    margin-right: 10px;
    border-radius: 25px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
header{
    display: flow-root;
    background-color: blueviolet;
    padding: 5px 0px;
}
header a:hover{
    background-color: orange;
    color: blueviolet;
    color: white;
}
#contact{
    background-color: aqua;
    color: white;
}
#outer{
    margin: 20px 10px 10px 10px;
}
#inner{
    padding-bottom: 250px;
    margin: 15px 10px 10px 10px;
    border: 2px solid orange;
}
#inner p{
    margin-left: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    margin-left: 15px;
}
form{
    margin: 10px;
}
.input{
    margin-top: 20px;
    margin-left: 200px;
    height: 35px;
    width: 700px;
}
#checkbox{
    margin: 10px 20px 10px 10px;
}
#submit{
    display: block;
    height: 35px;
    width: 90px;
    margin: 10px 0px 10px 920px;
}
footer{
    padding-top: 20px;
}
footer p{
    text-align: center;
    margin: 0;
}
footer a{
    margin-left: 320px;
    font-size: 20px;
}
